:root {
    --main-color: #22252E;
    --secondary-color: #4CB649;
    --white-color: #FFFFFF;
    --text-nav-color: #323642;
    --text-item-color: #889099;
    --border-color: #D7D8D9; 
    --text-selection-color: #FF8D00;
  }